.ft,body{background-color: var(--cr-cool-gray10--);}
.s1--txt{padding: 120px var(--pd-side--);text-align: center;background-color: #fff;}
.s1--txt01{font-size: 50px;letter-spacing: -0.02em;font-weight: 700;line-height: 1.2;margin-bottom: 0.2em;font-family: 'Poppins';}
.s1--txt02{font-size: 32px;letter-spacing: -0.02em;font-weight: 400;line-height: 1.2;margin-bottom: 1em;}
.s1--txt03{font-size: 20px;letter-spacing: -0.02em;font-weight: 400;line-height: 1.6;word-break: keep-all;}
@media all and (max-width:1480px) {
    .s1--txt{padding-top: 100px;}
    .s1--txt01{font-size: 44px;}
    .s1--txt02{font-size: 28px;}
    .s1--txt03{font-size: 18px;}
}
@media all and (max-width:1024px) {
    .s1--txt{padding-top: 80px;}
    .s1--txt01{font-size: 40px;}
    .s1--txt02{font-size: 22px;}
    .s1--txt03{font-size: 16px;}
}
@media all and (max-width:480px) {
    .s1--txt01{font-size: 36px;}
    .s1--txt02{font-size: 18px;}
    .s1--txt03{font-size: 14px;}
}
.s1--wrap{padding-bottom:180px;background: linear-gradient(180deg, #fff 0%, #fff 35%, var(--cr-cool-gray10--) 35.1%);}
.s1--cont{width: 100%;margin: auto;max-width: calc(1440px + var(--pd-side--)*2);padding: 0 var(--pd-side--);display: flex;}
.s1--img{border-radius: 20px;overflow: hidden;width: calc(100% - 440px);padding: 44px;color: #fff;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.s1--img-txt01{font-size: 36px;letter-spacing: -0.02em;font-weight: 500;line-height: 1.5;}
.s1--img-txt02{font-size: 16px;letter-spacing: -0.03em;font-weight: 400;line-height: 1.4;word-break: keep-all;}
@media all and (max-width:1280px) {
    .s1--wrap{padding-bottom: 150px;}
    .s1--img-txt01{font-size: 30px;}
    .s1--img-txt02{font-size: 15px;}
}
@media all and (max-width:1024px) {
    .s1--wrap{padding-bottom: 120px;}
    .s1--img{padding: 30px;}
    .s1--img-txt01{font-size: 25px;}
    .s1--img-txt02{font-size: 14px;}
}
@media all and (max-width:769px) {
    .s1--wrap{padding-bottom: 80px;}
    .s1--img{padding: 20px;border-radius: 16px;}
}
.s1--form{width: 440px;border-radius: 20px;padding: 40px;background-color: #fff;border: 1px solid var(--cr-cool-gray20--);}
.s1--form-txt01{font-size: 16px;letter-spacing: -0.03em;line-height: 1.4;margin-bottom: 1.25em;}
.s1--form-select-list{display: flex;flex-wrap: wrap;gap: 10px;padding-bottom: 20px;border-bottom: 1px solid var(--cr-cool-gray20--);margin-bottom: 30px;}
.s1--form-select-item{border-radius: 20px;height: 40px;border: 1px solid var(--cr-cool-gray20--);font-size: 12px;display: flex;align-items: center;justify-content: center;text-align: center;padding: 0 16px;cursor: pointer;}
.s1--form-select-item:not(.selected):hover{border-color: var(--cr-purple20--);color: var(--cr-purple60--);}
.s1--form-select-item.selected{background-color: var(--cr-purple60--);color: #fff;border-color: var(--cr-purple60--);}
.s1--form-input{margin-bottom: 20px;}
.s1--form-input .label{font-size: 14px;color: var(--cr-cool-gray50--);line-height: 1.33;margin-bottom: 0.5em;display: flex;gap: 0.25em;}
.s1--form-input .label .require{color: var(--cr-purple60--);}
.s1--form-input .input{height: 50px;border-radius: 5px;border: 1px solid var(--cr-cool-gray20--);display: flex;align-items: center;padding: 0 14px;font-size: 16px;}
.s1--form-input .input.fixed{color: var(--cr-cool-gray30--);background-color: var(--cr-cool-gray10--);}
.s1--form-input textarea{resize: none;height: 100px;width: 100%;border: 1px solid var(--cr-cool-gray20--);border-radius: 5px;padding: 14px;font-size: 16px;}
.s1--form-input textarea::placeholder{color: var(--cr-cool-gray30--);}
.s1--form-agree{display: flex;align-items: center;gap: 10px;font-size: 14px;position: relative;margin-bottom: 30px;}
.s1--form-agree input{display: block;position: absolute;opacity: 0;pointer-events: none;left: 0;top: 0;}
.s1--form-agree label{width: 15px;height: 15px;border: 1px solid var(--cr-cool-gray20--);cursor: pointer;position: relative;border-radius: 4px;}
.s1--form-agree label:before{width: 7px;height: 4px;border: solid #fff;position: absolute;top: 50%;left: 50%;content: '';transform: translate(-50%,-70%) rotate(-45deg);border-width: 0 0 1px 1px;}
.s1--form-agree input:checked + label{background-color: var(--cr-purple60--);border: 1px solid var(--cr-purple60--);}
.s1--form-submit button{border: 1px solid #000;outline: none;width: 100%;height: 40px;border-radius: 12px;display: flex;align-items: center;justify-content: center;background-color: #fff;cursor: pointer;transition-duration: 0.15s;font-size: 16px;}
.s1--form-submit button:hover{background-color: var(--cr-purple60--);color: #fff;border-color: var(--cr-purple60--);}
@media all and (max-width:1024px) {
    .s1--form{padding: 30px;}
}
@media all and (max-width:769px) {
    .s1--form{padding: 20px;border-radius: 16px ;}
    .s1--cont{flex-direction: column;}
    .s1--img{width: 100%;height: 220px;}
    .s1--form{width: 100%;}
    .s1--form-select-list{gap: 6px;}
    .s1--form-select-item{height: 32px;padding: 0 12px;font-size: 12px;}
    .s1--form-input .label{font-size: 12px;}
    .s1--form-input textarea{font-size: 14px;padding: 12px;}
    .s1--form-input .input{font-size: 14px;padding: 0 12px;height: 40px;}
}