.main--tit-dot{display: block;width: 20px;height: 20px;border-radius: 50%;background-color: #000;}
@media all and (max-width:1280px) {
    .main--tit-dot{width: 18px;height: 18px;}
}
@media all and (max-width:769px) {
    .main--tit-dot{width: 16px;height: 16px;}
}
@media all and (max-width:480px) {
    .main--tit-dot{width: 14px;height: 14px;}
}
/* #region s1========================================================================================== */
.s1{position: relative;width: 100%;height: 100vh;display: flex;flex-direction: column;justify-content: flex-end;}
.s1--bg{position: absolute;width: 100%;height: 100%;border-radius: 0 0 50px 50px;background-color: rgba(0,0,0,0.2);}
.s1--video{width: 100%;height: 100%;position: absolute;border-radius: 0 0 50px 50px;overflow: hidden;}
.s1--video video{width: 100%;height: 100%;object-fit: cover;}
.s1--tit{color: #fff;padding: 46px var(--pd-side--);position: relative;}
.s1--tit01{font-size: 96px;font-weight: 700;line-height: 1;margin-bottom: 0.2em;}
.s1--tit02{font-size: 20px;line-height: 1.6;margin-bottom: 80px;}
.s1--link{width: calc(100% - var(--pd-side--)*2);display: flex;justify-content: space-between;align-items: center;margin:0 auto 40px;position: relative;font-size: 24px;}
.s1--link01-icon{display: block;width: 0.75em;height: 0.75em;position: relative;margin-left: 0.25em;}
.s1--link01-icon span{display: block;position: absolute;}
.s1--link01-icon span:nth-child(1){width: 120%;height: 1px;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(-45deg);background-color: #000;}
.s1--link01-icon span:nth-child(2){width: 70%;height: 70%;top: 0;right: 0;border: solid #000;border-width: 1px 1px 0 0;}
.s1--link01{display: flex;align-items: center;justify-content: flex-start;gap: 4px;color: #000;width: 100%;padding: 0 34px;height: 70px;background-color: rgba(255,255,255,0.7);border-radius: 40px;}
.s1--link02{pointer-events: none;position: absolute;right: 40px;color: #000;}
@media all and (max-width:1280px) {
    .s1--tit01{font-size: 70px;}
    .s1--tit02{margin-bottom: 50px;}
    .s1--link{font-size: 20px;}
}
@media all and (max-width:769px) {
    .s1{display: block;height: unset;}
    
    .s1--bg{position: relative;height: unset;padding-top: 56.25%;}
    .s1--tit{color: #000;padding: 30px var(--pd-side--);}
    .s1--link{flex-direction: column;gap: 12px;margin-bottom: 0;font-size: 14px;}
    .s1--link01{justify-content: center;background-color: #000;height: 40px;color: #fff;font-size: 14px;}
    .s1--link02{position: relative;width: 100%;text-align: center;margin: auto;right: unset;color: #000;font-size: 14px;}
    .s1--tit01{font-size: 40px;}
    .s1--tit02{font-size: 18px;margin-bottom: 40px;}
    .s1--link{font-size: 20px;color: #fff;}
    .s1--link01-icon span:nth-child(1){background-color: #fff;}
    .s1--link01-icon span:nth-child(2){border-color: #fff;}
}
/* #endregion s1========================================================================================== */


/* #region s2========================================================================================== */
.s2{padding-top: 110px;}
.s2--wrap{display: flex;justify-content: space-between;padding: 0 var(--pd-side--);align-items: flex-start;}
.s2--tit{display: flex;align-items: flex-start;gap: 16px;white-space: nowrap;padding-right: 40px;}
.s2--tit .main--tit-dot{margin-top:2em;}
.s2--tit-txt{display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;}
.s2--tit00{font-family: 'Poppins';font-size: 70px;font-weight: 700;letter-spacing: -0.02em;line-height: 1.2;margin-bottom: 1em;}
.s2--tit01{font-size: 32px;font-weight: 600;line-height: 1.2;margin-bottom: 1em;}
.s2--tit02{font-size: 18px;line-height: 1.6;margin-bottom: 1.5em;}
.s2--tit03{display: flex;align-items: center;justify-content: flex-start;gap: 10px;font-size: 16px;}
.s2--tit03 img{display: block;width: 1.5em;}
.s2--list{display: flex;flex-wrap: wrap;gap: 20px 10px;width: calc(100% - 400px);max-width:1220px;}
.s2--item{width: calc(25% - 30px/4);}
.s2--item-thumb{border-radius: 16px;overflow: hidden;width: 100%;background-color: #000;}
.s2--item-thumbImg{background-size: cover;background-position: center center;background-repeat: no-repeat;width: 100%;padding-top: 113%;transition-duration: 0.35s;}
.s2--item-txt{padding: 20px;border-radius: 16px;border: 1px solid var(--cr-cool-gray20--);background-color: #fff;transition-duration: 0.25s;}
.s2--item-txt01{margin-bottom: 20px;font-size: 14px;}
.s2--item-txt02{font-size: 20px;font-weight: 600;display: flex;justify-content: space-between;align-items: center;}
.s2--item-txt02-ico{width: 24px;height: 24px;border-radius: 50%;background-color: #000;position: relative;transition-duration: 0.15s;}
.s2--item-txt02-ico span{display: block;position: absolute;top: 50%;left: 50%;transition-duration: 0.15s;}
.s2--item-txt02-ico span:nth-child(1){width: 40%;height: 1px;background-color: #fff;transform: translate(-50%,-50%);}
.s2--item-txt02-ico span:nth-child(2){width: 25%;height: 25%;border: solid #fff;border-width: 1px 1px 0 0;transform: translate(-17%,-50%) rotate(45deg);}

.s2--item:hover .s2--item-thumbImg{transform: scale(1.1);opacity: 0.8;}
.s2--item:hover .s2--item-txt{border-color: #000;background-color: #000;color: #fff;}
.s2--item:hover .s2--item-txt02-ico{background-color: #fff;}
.s2--item:hover .s2--item-txt02-ico span:nth-child(1){background-color: #000;}
.s2--item:hover .s2--item-txt02-ico span:nth-child(2){border-color: #000;}
@media all and (max-width:1680px) {
    .s2--tit00{font-size: 52px;}
}
@media all and (max-width:1480px) {
    .s2--wrap{flex-direction: column;gap: 40px;}
    .s2--tit{width: 100%;flex-direction: column;}
    .s2--tit .main--tit-dot{margin-top: 0;}
    .s2--list{width: 100%;max-width: unset;}
    .s2--tit02{width: 100%;max-width: 680px;white-space: wrap;word-break: keep-all;}
    .s2--tit02 br{display: none;}
}
@media all and (max-width:1280px) {
    .s2{padding-top: 100px;}
    .s2--tit00{font-size: 40px;}
    .s2--tit01{font-size: 28px;}
    .s2--tit02{font-size: 16px;}
    .s2--tit03{font-size: 15px;}
    .s2--item-txt{padding: 16px 14px;}
    .s2--item-txt01{font-size: 12px;margin-bottom: 16px;}
    .s2--item-txt02{font-size: 16px;}
    .s2--item-txt02-ico{width: 18px;height: 18px;}
}
@media all and (max-width:769px) {
    .s2{padding-top: 60px;}
    .s2--list{gap: 10px;}
    .s2--tit00{font-size: 32px;}
    .s2--tit01{font-size: 22px;}
    .s2--tit02{font-size: 14px;}
    .s2--tit03{font-size: 13px;}
    .s2--item{width: calc(50% - 5px);}
    .s2--item-thumbImg{padding-top: 80%;}
    .s2--item-thumb{border-radius: 13px;}
    .s2--item-txt{border-radius: 13px;padding: 10px;}
    .s2--item-txt01{font-size: 11px;margin-bottom: 16px;}
    .s2--item-txt02{font-size: 14px;}
    .s2--item-txt02-ico{width: 16px;height: 16px;}
}
@media all and (max-width:480px) {
    .s2{padding-top: 40px;}
}
/* #endregion s2========================================================================================== */
/* #region s3========================================================================================== */
.s3{padding-top: 140px;}
.s3--wrap{padding: 0 var(--pd-side--);}
.s3--tit{display: flex;align-items: center;justify-content: flex-start;gap: 16px;font-size: 70px;font-weight: 700;letter-spacing: -0.02em;margin-bottom: 28px;}
.s3--list{display: flex;gap: 10px;flex-wrap: wrap;}
.s3--item{width: calc(50% - 5px);}
.s3--thumb{position: relative;border-radius: 20px;background-color: #000;overflow: hidden;}
.s3--thumbImg{width: 100%;position: relative;padding-top: 86%;background-size: cover;background-position: center center;background-repeat: no-repeat;transition-duration: 0.35s;}
.s3--thumbTxt{width: 100%;padding: 40px;color: #fff;font-weight: 700;font-size: 56px;letter-spacing: -0.02em;top: 0;left: 0;position: absolute;}
.s3--txt{margin-top: 28px;}
.s3--txt01{font-size: 18px;color: #000;margin-bottom: 0.5em;}
.s3--txt02{font-size: 32px;line-height: 1.2;font-weight: 600;}
.s3--txt03{font-size: 24px;margin-top: 1em;}

.s3--item:hover .s3--thumbImg{opacity: 0.8;transform: scale(1.1);}
@media all and (max-width:1680px) {
    .s3--tit{font-size: 52px;}
    .s3--thumbTxt{font-size: 40px;}
    .s3--txt02{font-size: 28px;}
}
@media all and (max-width:1280px) {
    .s3{padding-top: 120px;}
    .s3--tit{font-size: 40px;}
    .s3--thumbTxt{font-size: 30px;padding: 28px;}
    .s3--txt{margin-top: 10px;}
    .s3--txt02{font-size: 24px;}
    .s3--txt03{font-size: 18px;}
}
@media all and (max-width:769px) {
    .s3{padding-top: 80px;}
    .s3--tit{font-size: 32px;}
    .s3--thumbTxt{padding: 20px;}
    .s3--list{gap: 24px;}
    .s3--item{width: 100%;}
}
@media all and (max-width:480px) {
    .s3{padding-top: 64px;}
}
/* #endregion s3========================================================================================== */
/* #region s4========================================================================================== */
.s4{padding-top: 160px;word-break: keep-all;}
.s4--tit{display: flex;align-items: center;justify-content: flex-start;gap: 16px;font-size: 70px;font-weight: 700;letter-spacing: -0.02em;padding: 0 var(--pd-side--) 32px;border-bottom: 1px solid var(--cr-cool-gray20--);}
.s4--list{display: flex;flex-wrap: wrap;gap:24px 10px;padding: 24px var(--pd-side--);border-bottom: 1px solid var(--cr-cool-gray20--);}
.s4--item{width: calc(100%/6 - 50px/6);}
.s4--item-top{margin-bottom: 12px;display: flex;gap: 10px;align-items: center;justify-content: flex-start;font-size: 24px;}
.s4--item-top span{display: block;width: 0.66em;height: 0.66em;background-color: #000;border-radius: 50%;}
.s4--item-thumb{border-radius: 16px;overflow: hidden;position: relative;}
.s4--item-thumbImg{width: 100%;padding-top: 130%;position: relative;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.s4--item-thumbTxt{width: 100%;height: 100%;background-color: #000;color: #fff;opacity: 0;padding: 20px;position: absolute;top: 0;left: 0;transition-duration: 0.15s;}
.s4--item-thumbTxt01{font-size: 24px;font-weight: 500;margin-bottom: 0.5em;line-height: 1.33;}
.s4--item-thumbTxt02{font-size: 16px;line-height: 1.4;margin-bottom: 0.5em;}
.s4--item-thumbTxt03 img{display: block;width: 24px;margin-left: -4px;}

.s4--item-txt{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;}
.s4--item-txt01{font-size: 16px;margin-top: 0.75em;color: var(--cr-cool-gray50--);}
.s4--item-txt02{font-size: 18px;position: relative;display: flex;padding-bottom: 4px;margin-top: 0.5em;}
.s4--item-txt02 span{position: absolute;left: 0;width: 0%;height: 1px;background-color: #000;bottom: 0;transition-duration: 0.15s;}

.s4--item:hover .s4--item-txt02 span{width: 100%;}
.s4--item:hover .s4--item-thumbTxt{opacity: 1;}

.s4--bot{display: flex;justify-content: flex-end;align-items: center;margin-top: 12px;padding: 0 var(--pd-side--);}
.s4--bot a{display: flex;align-items: center;justify-content: flex-end;font-size: 16px;font-weight: 500;gap: 10px;}
.s4--bot a img{display: block;width: 1.5em;}

@media all and (max-width:1680px) {
    .s4{padding-top: 120px;}
    .s4--tit{font-size: 52px;}
}
@media all and (max-width:1480px) {
    .s4--item-thumbTxt01{font-size: 20px;}
}
@media all and (max-width:1280px) {
    .s4{padding-top: 100px;}
    .s4--tit{font-size: 40px;}
    .s4--list{gap: 20px 10px;}
    .s4--item{width: calc(25% - 30px/4);}
    .s4--item-thumbTxt01{font-size: 18px;}
    .s4--item-thumbTxt02{font-size: 12px;}
    .s4--item-thumbTxt03 img{width: 20px;}
}
@media all and (max-width:1024px) {
    .s4--item-thumbTxt{padding: 10px;}
    .s4--item{width: calc(100%/3 - 20px/3);}
    .s4--item-top{font-size: 18px;}
}
@media all and (max-width:769px) {
    .s4{padding-top: 70px;}
    .s4--tit{font-size: 32px;}
    .s4--item-top{font-size: 16px;}
    .s4--item{width: calc(50% - 5px);}
    .s4--item-txt01{font-size: 14px;}
    .s4--item-txt02{font-size: 16px;}
    .s4--item-txt02 span{display: none;}
}
@media all and (max-width:480px) {
    .s4{padding-top: 40px;}
}
/* #endregion s4========================================================================================== */
/* #region s5========================================================================================== */
.s5{padding-top: 80px;margin-bottom: 150px;}
.s5--link{padding: 0 var(--pd-side--);display: flex;align-items: center;justify-content: flex-start;margin-bottom: 20px;font-weight: 500;}
.s5--link a{display: flex;align-items: center;justify-content: flex-start;gap: 10px;font-size: 16px;}
.s5--link a img{display: block;width: 1.5em;}

.s5--list{grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);gap: 10px;display: grid;transition-duration: 0.5s;}
.s5--list[data-num="0"]{grid-template-columns: 90% 5% 5%;}
.s5--list[data-num="1"]{grid-template-columns: 5% 90% 5%;}
.s5--list[data-num="2"]{grid-template-columns: 5% 5% 90%;}
.s5--item{overflow: hidden;background-size: cover;background-repeat: no-repeat;background-position: center center;height: 830px;position: relative;white-space: nowrap;}
.s5--txt{color: #fff;padding: 40px;}
.s5--txt01{font-size: 18px;line-height: 1.4;margin-bottom: 0.2em;}
.s5--txt02{font-size: 32px;font-weight: 600;line-height: 1.2;margin-bottom: 0.5em;}
.s5--txt03{font-size: 16px;line-height: 1.4;}
.s5--txt04{display: block;width: 20px;height: 20px;position: relative;margin-top: 14px;}
.s5--txt04 span{display: block;position: absolute;left: 50%;top: 50%;}
.s5--txt04 span:nth-child(1){width: 100%;height: 1px;background-color: #fff;transform: translate(-50%,-50%);}
.s5--txt04 span:nth-child(2){width: 50%;height: 50%;border: solid #fff;border-width: 1px 1px 0 0;transform: translate(-17%,-50%) rotate(45deg);}
.black .s5--txt04 span:nth-child(1){background-color: #000;}
.black .s5--txt04 span:nth-child(2){border-color: #000;}
.s5--item.black .s5--txt{color: #000;}
.s5--belt{position: absolute;bottom: 0;left: 0;display: flex;color: #fff;font-family: 'Poppins', sans-serif;white-space: nowrap;font-size: 120px;letter-spacing: -0.04em;line-height: 1.2;font-weight: 700;}
@media all and (max-width:1680px){
    .s5--item{height: 720px;}
    .s5--belt{font-size: 100px;}
}
@media all and (max-width:1480px) {
    .s5--item{height: 580px;}
    .s5--belt{font-size: 90px;}
}
@media all and (max-width:1024px) {
    .s5--item{height: 520px;}
}
/* #endregion s5========================================================================================== */
