<div class="header">
    <div class="header--wrap">
        <div class="header--l">
            <div class="header--logo">
                <img class="black" src="/assets/img/hd_logo_black.png" alt="">
                <img class="white" src="/assets/img/hd_logo_white.png" alt="">
            </div>
            <div class="header--l-list">
                <a href="/eventannounce.html" class="header--l-item"></a>
                <a href="/useannounce.html" class="header--l-item"></a>
                <a href="/sellernews.html" class="header--l-item"></a>
            </div>
            <a href="" class="header--l-open">행사개최하기</a>
        </div>
        <div class="header--r">
            <div class="header--r-menu">
                <div role="button" class="header--r-menu-btn header--openBtn">오뜨리움</div>
                <div class="header--r-menu-list header--openList" aria-expanded="false">
                    <a href="" class="header--r-menu-item">통합 운영 관리</a>
                    <a href="" class="header--r-menu-item">브랜딩</a>
                    <a href="" class="header--r-menu-item">데이터 애널리틱스</a>
                    <a href="" class="header--r-menu-item">메타버스</a>
                    <a href="" class="header--r-menu-item">온라인 부스</a>
                    <a href="" class="header--r-menu-item">비즈매칭</a>
                    <a href="" class="header--r-menu-item">챗봇</a>
                </div>
            </div>
            <div class="header--r-etc">
                <div class="header--r-lang">
                    <div class="header--r-lang-btn header--openBtn">언어</div>
                    <div class="header--r-lang-list header--openList">
                        <div class="header--r-lang-item">언어1</div>
                        <div class="header--r-lang-item">언어2</div>
                    </div>
                </div>
                <div class="header--member">
                    <a href="">로그인</a>
                    <!-- <a href="">로그아웃</a> -->
                </div>
                <a href="javascript:void(0)" class="header--cs alertReady">호스트센터</a>
            </div>
        </div>
    </div>
</div>