@charset "utf-8";

/*
==========================================================================
Base
Works:nog
==========================================================================
*/

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"), url("/font/woff2/Pretendard-Black.woff2") format("woff2"), url("/font/woff/Pretendard-Black.woff") format("woff"), url("/font/otf/Pretendard-Black.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"), url("/font/woff2/Pretendard-ExtraBold.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraBold.woff") format("woff"), url("/font/otf/Pretendard-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url("/font/woff2/Pretendard-Bold.woff2") format("woff2"), url("/font/woff/Pretendard-Bold.woff") format("woff"), url("/font/otf/Pretendard-Bold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url("/font/woff2/Pretendard-SemiBold.woff2") format("woff2"), url("/font/woff/Pretendard-SemiBold.woff") format("woff"), url("/font/otf/Pretendard-SemiBold.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"), url("/font/woff2/Pretendard-Medium.woff2") format("woff2"), url("/font/woff/Pretendard-Medium.woff") format("woff"), url("/font/otf/Pretendard-Medium.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url("/font/woff2/Pretendard-Regular.woff2") format("woff2"), url("/font/woff/Pretendard-Regular.woff") format("woff"), url("/font/otf/Pretendard-Regular.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url("/font/woff2/Pretendard-Light.woff2") format("woff2"), url("/font/woff/Pretendard-Light.woff") format("woff"), url("/font/otf/Pretendard-Light.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url("/font/woff2/Pretendard-ExtraLight.woff2") format("woff2"), url("/font/woff/Pretendard-ExtraLight.woff") format("woff"), url("/font/otf/Pretendard-ExtraLight.otf") format("otf");
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"), url("/font/woff2/Pretendard-Thin.woff2") format("woff2"), url("/font/woff/Pretendard-Thin.woff") format("woff"), url("/font/otf/Pretendard-Thin.otf") format("otf");
}


:root {
    --sdPadding-- : 40rem;
    --black01-- : #21272A;
    --black02-- : #343A3F;
    --white01-- : #fff;
    --gray01-- : #F2F4F8;
    --gray02-- : #C1C7CD;
    --gray03-- : #697077;
    --gray04-- : #e5e7eb;
    --gray05-- : #DDE1E6;
    --gray06-- : #4D5358;
    --grayblue01--:#878D96;
    --grayblue02--:#3D5358;
    --red01-- : #FA4D56;
    --purple01-- : #8A3FFC;
    --purple02-- : #a56eff;

    --fs12-- : 12rem;
    --fs13-- : 13rem;
    --fs14-- : 14rem;
    --fs16-- : 16rem;
    --fs20-- : 20rem;

    --fw1-- : 100;
    --fw2-- : 200;
    --fw3-- : 300;
    --fw4-- : 400;
    --fw5-- : 500;
    --fw6-- : 600;
    --fw7-- : 700;
    --fw8-- : 800;
    --fw9-- : 900;

    --br4-- : 4px;
    --br8-- : 8px;
    --br12-- : 12px;
}


html, body,div,dl,dt,dd,ul,ol,li, pre,code,form,fieldset,legend,textarea,p,iframe,span,strong,em{margin:0; padding:0; font-size:inherit; word-break:keep-all; -webkit-text-size-adjust:none; }
body{overflow-x:hidden; font-family:'Pretendard', '돋움', '돋음', 'Dotum', 'Baekmuk Dotum', 'Undotum', 'Apple Gothic', 'Latin font', sans-serif; font-weight:400; color:#21272A;  padding:0px; margin:0px;}
html {font-size:1px;}
@media all and (max-width:1600px) {
    html  { font-size:0.0625vw; }
}
@media all and (max-width:1440px) {
    html  { font-size:0.0694vw; }
}
@media all and (max-width:1280px) {
    html  { font-size:0.0781vw; }
}
@media all and (max-width:1024px) {
    html  { font-size:0.0977vw; }
}
@media all and (max-width:769px) {
    html  { font-size:0.15vw; }
}
@media all and (max-width:480px) {
    html  { font-size:0.2083vw; }
    :root{
        --sdPadding--:20rem;
        --fs12-- : 11px;
        --fs13-- : 12px;
        --fs14-- : 13px;
        --fs16-- : 14px;
        --fs20-- : 20px;
    
    }
}
@media all and (max-width:375) {
    html  { font-size:0.2667vw; }
    :root{
        --sdPadding--:16rem;
    }
}
b{font-weight:500;}
html, body {width:100%;height:100%; margin-left:auto; margin-right:auto; }
cs_header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display:block; }
button {background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;  -webkit-appearance: none; -moz-appearance: none; appearance: none; }
table { font-size:inherit; border-collapse:collapse; border-spacing:0; }
th, td { word-wrap:break-word; word-break:break-all; }
fieldset, iframe { border:0; vertical-align:top; }
small {font-size:0.9em}
img { border:0; font-size:0; vertical-align:top; }
address,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
li, dd { list-style:none; word-break:keep-all; word-break:break-word; }
hr { display:none; }
caption { overflow:hidden;width:100%;height:1px;font-size:1px;line-height:0;text-indent:-9999px; margin-top:-1px; }
legend {  overflow:hidden; left:-9999px; text-indent:9999px; width:0; height:0; overflow:hidden; line-height:0; white-space:nowrap; color:#222; }
button { padding:0; border:0; cursor:pointer; background:none; vertical-align:middle; font-size:inherit; appearance: none; moz-appearance: none; border:0; overflow:visible; outline:none;}
h1, h2, h3, h4, h5, h6 { padding:0px;margin:0px; }
a, a code { color:#222; text-decoration:none;  /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease; }
a:active, a:active code { color:#222; text-decoration:none;  /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease; }
a:hover, a:hover code, a:focus, a:focus code { text-decoration:none; /*마우스오버시 자연스럽게*/transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease;  }
sup,sub { font-size:0.9em; font-style:italic; }
checkbox { vertical-align:middle}
input[type="date"], input,textarea, input:placeholder{padding:0; font-family: 'Pretendard' !important;}
a {outline:none; cursor:pointer; color:inherit; font-size:inherit; font-weight:inherit;}
.hand {cursor:pointer}
.cursor {cursor:default !important}
a{text-decoration:none; transition:all .3s ease;}
a:hover{text-decoration:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition :all .3s ease;
}

svg, embed {display: block;}

.serif{font-family: 'Noto Serif KR', 'Noto Sans KR';}
textarea{resize: none;}
/* Scroll */
/*
html { scrollbar-3dLight-Color: #f9f9f9; scrollbar-arrow-color: #f1f1f1; scrollbar-base-color: #f9f9f9; scrollbar-Face-Color: #f1f1f1; scrollbar-Track-Color: #f9f9f9; scrollbar-DarkShadow-Color: #f9f9f9; scrollbar-Highlight-Color: #f9f9f9; scrollbar-Shadow-Color: #f9f9f9}
::-webkit-scrollbar {width: 5px; height: 3px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 3px; background:#f9f9f9}
::-webkit-scrollbar-track {background: #f9f9f9; -webkit-border-radius: 0px; border-radius:0px; -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(64,170,223,0.3);-webkit-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.05)}
*/

/* align */
.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }
.fr { float:right  !important; }
.fl { float:left  !important; }
.mid { vertical-align:middle; }
.clear {clear:both;}

.flex-vc {display:flex; gap:5rem; align-items:center; }

/* mobile */
.mo{display:none;}

/* base */
:focus {outline: none;}

/* 드래그 블록 색상 */
::selection {background:rgba(0,0,0,0.5); color:#fff;}
::-moz-selection {background:rgba(0,0,0,0.5); color:#fff;}
::-webkit-selection {background:rgba(0,0,0,0.5); color:#fff;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:after, :before {box-sizing:border-box;}





/**/
.link_st01 {display:inline-flex; align-items: center; justify-content: center;  background:#FFF; border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--black01--); padding:0 15rem; height: 36rem;font-weight:var(--fw5--);}
.link_st02 {display:inline-flex; align-items: center; justify-content: center;  background:var(--gray01--); border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--black01--); padding:0 15rem; height: 36rem;font-weight:var(--fw5--); gap:10rem;}
.link_st03 {display:inline-flex; align-items: center; justify-content: center;  background:var(--red01--); border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--white01--); padding:0 15rem; height: 36rem;font-weight:var(--fw5--); gap:10rem;}
.link_st04 {display:inline-flex; align-items: center; justify-content: center;  background:var(--purple01--); border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--white01--); width:100%; height: 36rem;font-weight:var(--fw5--); gap:10rem;}
.bg-gra01 {background: linear-gradient(135deg, #8A1AF5 0%, #7515F6 39.91%, #5003DC 100%); color:var(--white01--)}
.bg-b10 {background:rgba(255,255,255,0.1); color:var(--white01--);}
.bg-b10 path {fill:var(--white01--);}
.download_st01 {display:inline-flex; align-items: center; justify-content: center;  border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--purple01--); border:1px solid var(--purple01--); padding:0 15rem; height: 36rem;font-weight:var(--fw5--); gap:10rem;}
.upload_st01 {display:inline-flex; align-items: center; justify-content: center;  border-radius: var(--br4--); line-height: 1; font-size: var(--fs14--); color:var(--white01--); background:var(--purple01--); border:1px solid var(--purple01--); padding:0 15rem; height: 36rem; font-weight:var(--fw5--); gap:10rem;}
.selcet_st01 {height:36rem; padding:0 26rem 0 10rem; border-radius: 4px; border:1px solid var(--gray05--); -webkit-appearance: none; -moz-appearance: none; appearance: none; color:var(--grayblue01--); background:url(../img/icon_arrow_st02.svg) no-repeat 97% center; }
.selcet_st01:-ms-expand {display:none;}


/**/
.cred {color:var(--red01--)}

/**/
.col-1 {width:100%; max-width:90rem;}
.col-2 {width:100%; max-width:182rem;}
.col-4 {width:100%; max-width:275rem;}
.col-6 {width:100%; max-width:585rem;}
.col-11 {width:100%; }


/* Table */
.tb_st01 {width:100%;}
    .tb_st01 th,
    .tb_st01 td {padding:10rem; border:1px solid var(--gray05--); font-size:var(--fs12--); color:var(--black01--); text-align: center;}
    .tb_st01 thead th {height:40rem;font-weight:var(--fw5--); background-color:var(--gray01--);}
    .tb_st01 tbody td {height:60rem;}


    .tb_st01 .event_end th,
    .tb_st01 .event_end td:not(.td_btns) { opacity:0.4 }
    /* td */
    .tb_st01 td .stt {font-weight: var(--fw6--);}
    .tb_st01 td .stt00{color:var(--grayblue02--); } /*대기, 진행전*/
    .tb_st01 td .stt01{color:var(--black02--); } /*대기, 진행전*/
    .tb_st01 td .stt02 {color:var(--purple01--); } /*승인, 진행중*/
    .tb_st01 td .stt03 {color:var(--grayblue01--); } /* 반려, 진행종료*/
    .tb_st01 td .stt04 {color:#2077db; } /* 반려, 진행종료*/

    .td_event_img {background-position:center center; background-size: cover; background-repeat: no-repeat;}
    .td_event_img img {width:100%;}
    .td_booth_img img {width:100%;}
    .td_event_hall {}
    .td_event_hall div {display:flex; gap:10rem; align-items: center; justify-content: center;}
    .td_event_hall span {border-radius: var(--br4--); padding:4rem 8rem; color: var(--purple01--); background-color:var(--gray01--)}
    
    .td_logo img {height:22rem}
    .td_category {text-align: left;}
    .td_category div {padding:3rem 0 3rem 26rem; background:url(../img/icon_arrow_right.svg) no-repeat left center;}
    .td_btns .td_btns_inner {display:flex; justify-content: center; gap:8rem;}
    .td_btns a {height:24rem !important; padding:0 8rem !important}
    .td_url {text-align: left;}
    .td_url span {display: block; width:100%; max-width:470rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    .td_status .st {display: flex; gap:5rem; justify-content: center; align-items: center; }
    .td_status .st span {display:inline-block; width:10rem; height:10rem; border-radius: 50px; display:inline-block;}
    .td_status .st_on span {background:#20d2db}
    .td_status .st_off span {background:#ff3d3d}
    .td_status .st_hidden span {background:#ffbf00}
    .td_resource_img img {width:90rem;}

    @media all and (max-width:769px) {
        .tb_st01Wrap{overflow-x: scroll;padding-bottom: 5px;}
        .tb_st01Wrap::-webkit-scrollbar-thumb {background-color:var(--gray02--); border-radius: 10px;}
        .tb_st01Wrap::-webkit-scrollbar {height: 8px; background-color:var(--gray01--); border-radius: 10px;}
        .tb_st01{width: 900px;}
        .tb_st01 thead th{font-size: 11px;}
        .link_st02,
        .tb_st01 tbody td{font-size: 12px;}
        .selcet_st01{font-size: 12px;}
    }
/* Pagenation */
.art_page_wrap {display:flex; gap:5rem; align-items: center; justify-content: center; margin-top:40rem;}
    .art_page_wrap li a {width:32rem; height:32rem; display:flex; justify-content: center; align-items: center; border-radius: 50px; border:1px solid var(--white01--); font-size:var(--fs12--); font-weight:var(--fw5--)}

    .art_page_wrap li.pg a{border:1px solid var(--gray01--);}
    .art_page_wrap li.pg.off {cursor: default;}
    .art_page_wrap li.pg.off embed{opacity:0.3}
    .art_page_wrap li.pager_next embed,
    .art_page_wrap li.pager_last embed {transform:rotate(180deg);}
    .art_page_wrap li.on a{border:1px solid var(--purple01--); background:var(--purple01--); color:var(--white01--);}
    .art_page_wrap li:not(.on):hover a {background:var(--gray01--)}

@media all and (max-width:769px) {
    .art_page_wrap .over5{display: none;}
}
/* form */
.form_title {border-bottom:1px solid var(--grayblue01--); padding-bottom:16rem; padding-top:32rem; margin-bottom:8rem;}
.form_title .tit {font-size:var(--fs16--); font-weight: var(--fw6--);}

.form_group {display:flex; min-height: 36rem; font-size:var(--fs14--); color:var(--black01--); padding:8rem 0;}
.form_label {width:100rem; }
.form_label .t {display:flex; align-items: center;  height:36rem; gap:3px;  font-weight: var(--fw5--);}

.form_content {position:relative; width:calc(100% - 100px); display:flex; align-items: center; gap:10rem;}
.form_content_rows {position:relative;  width:100%; display:flex; flex-direction: column; gap:10rem;}
.form_con_row {position:relative; }
    .form-con-f {position:absolute; z-index:2; height:100%; display: flex; justify-content:center; align-items: center; }
    .form-con-f + .form-control {padding-left:110rem;}
    .form-con-f.tit {width:90rem;background-color: var(--gray01--); border-radius: var(--br4--) 0 0 var(--br4--);}
    .form-con-f.btn {right:20rem; color:var(--purple01--); cursor: pointer;}
    .form-con-f.btn.close {}

.form-control {display:flex; align-items:center; position:relative; height:36rem; border:1px solid var(--gray05--); border-radius: var(--br4--); padding:0 10rem; font-family: 'Pretendard';}
.form-control.row-5 {height:calc(36rem * 5); padding:10rem;}
input.form-control:read-only {border:1px solid rgba(0,0,0,0.05); background:rgba(0,0,0,0.02); font-size:var(--fs14--); color:var(--black01--);}
textarea.form-control:read-only {border:1px solid rgba(0,0,0,0.05); background:rgba(0,0,0,0.02); font-size:var(--fs14--); color:var(--black01--);}

    .form-control-addBtn {position:absolute;top:0;right:0;color:var(--grayblue01--);background:var(--gray01--);padding:0 25rem;height:100%;border-radius: 0 var(--br4--) var(--br4--) 0;border: 1px solid var(--gray05--);border-left: 0;}  
    .form-control-addBtn:hover {}

    .form-control-addList {display: flex; gap:15rem; align-items: center;}
    .form-control-addList div {color:var(--gray03--); display:flex; gap:3rem; align-items: center;}
    .form-control-addList .addList_remove:hover {}
    /* 행사 승인 */ .form-control[aria-value='event_approval'] {color:var(--purple01--) !important; font-weight: var(--fw5--);}

.form_content_alert {font-size:var(--fs12--); color:var(--grayblue01--); margin-top:-5rem;}

.form_content_logo {display:flex; align-items:center; justify-content: center; width:300rem; height:80rem; border-radius: var(--br4--); border:1px solid var(--gray01--); }
.form_content_logo img {max-height:60rem;}
/**/
.form_fileUpload_st02 {position:relative; width:100%; }
.form_fileUpload_st02 input[type="file"] {position:absolute; width:0; height:0; opacity:0;}
.form_fileUpload_st02 .form-control {display: flex; align-items: center;}
.form_fileUpload_st02 .form-control .file_name {color:var(--gray02--)}
.form_fileUpload_st02 .form-control .file_name.on {color:var(--black01--)}
.form_fileUpload_st02 .form-control .file_btn {background-color: var(--gray01--); position: absolute; height:100%; display: flex; justify-content:center; align-items: center; right:0; width:99rem; color:var(--grayblue01--);}

/*라벨은 원하는대로 커스텀하고*/
.form_fileUpload_st01 {display:flex; gap: 16rem; align-items: flex-start;}
.form_fileUpload_st01 .fileUpload_box{position:relative;width:254rem; height:140rem; border-radius: var(--br4--);border:1px solid var(--gray05--);display: flex;flex-direction: column; justify-content: center; align-items: center;gap: 10rem; color:var(--grayblue01--)}
.form_fileUpload_st01 input[type="file"]{ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.form_fileUpload_st01 .file_thumb {background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-position: center center;}
.form_fileUpload_st01 .file_delete {position:absolute; top:8rem; right:8rem; z-index:2;}

.form_file_readonly {display: flex; gap:10rem;}
.form_file_readonly > div {width:254rem; height:140rem; border-radius: var(--br4--);border:1px solid var(--gray05--); background-size: cover; background-repeat: no-repeat; background-position: center center;}

/******************************/


 
/* cs_header */    
#cs_header {display:flex; align-items: center; height:80rem; background-color: var(--black01--); color:var(--white01--); font-size:var(--fs16--); font-weight:var(--fw4--); padding-left:var(--sdPadding--); padding-right:var(--sdPadding--); }
#cs_header .hd_left {display:flex; gap:58rem; align-items: center;}
.hd_logo a {display:flex; align-items: center; line-height:1; gap:10rem; font-size:var(--fs20--); font-weight:var(--fw6--);}
.hd_menu {display: flex; align-items: center;}
.hd_menu li {padding:0 15rem;}
.hd_menu li.on {color:var(--purple02--)}
#cs_header .hd_right {margin-left:auto; display: flex; gap:15rem; }
#cs_header .hd_right > div {display: flex; align-items: center; cursor: pointer;}

.hd_user {display: flex; align-items: center; gap:10rem; font-weight: var(--fw5--); }
.hd_user .u_img {width:24rem; height:24rem; border-radius: 50px; overflow: hidden;}
.hd_user .u_img svg,
.hd_user .u_img img {width:24rem; height:auto;}
.hd_user .u_arr {margin-left:6rem;}
.hd_user .u_arr svg {width:auto; height:16rem; transition: all 0.3s ease; transform: rotate(0deg);}
.hd_home {margin-left:5rem;}

.hd_toggle_parents {position:relative; }
.hd_toggle {opacity: 0; position:absolute; display: flex; flex-direction: column; gap:16rem; color:var(--gray06--); background:var(--white01--); padding:20rem; border-radius:var(--br8--); top: 116%; left: 50%; transform: translateX(-50%); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);  transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; height: 0;  }
.hd_toggle .btn:hover {color:var(--purple01--); transition: all 0.3s ease;}

.hd_toggle_parents.active .hd_toggle { opacity: 1; height: auto; }
.hd_toggle_parents.active.hd_user .u_arr svg{transition: all 0.3s ease; transform: rotate(180deg);}

.hd_toggle_user .btn_tuser {cursor:default; display: flex; flex-direction: column; gap: 8rem;}
.hd_toggle_user .btn_tuser .n {font-weight:var(--fw6--); color:var(--black01--); gap:10rem;}
.hd_toggle_user .btn_tuser .e {color:var(--grayblue01--); font-weight: var(--fw3--);}
@media all and (max-width:1024px) {
    .hd_logo a{font-size: 15rem;white-space: nowrap;}
    .hd_logo .l_img embed{width: 30rem;}
    .link_st02{font-size: 12rem;padding: 0 10rem;white-space: nowrap;height: 32rem;align-items: center;gap: 5rem;}    .hd_menu{font-size: 13rem;}
    #cs_header .hd_left{gap: 24rem;}
    .hd_menu li{padding: 0 8rem;}
    .hd_menu li:not(:last-child){transform: translateY(15%);}
    .hd_lang{width: 24rem;}
    .hd_user{gap: 8rem;}
    .u_name{font-size: 14rem;}
}
@media all and (max-width:769px) {
    #cs_header{height: 60rem;}
    .download_st01,
    .link_st02{font-size: 12px;}
}
/* End cs_header */    


/* cs_headerSub */
#cs_headerSub {border-bottom:1px solid var(--gray05--); height:60rem; }
#cs_headerSub .w_inner{padding-left: var(--sdPadding--);padding-right: var(--sdPadding--);}
.hd_sub_inner {display: flex; align-items: center; height:100%;}
.hd_sub_inner .hd_sub_smenu {display: flex; align-items: center; gap:40rem; font-size:var(--fs16--); color:var(--gray06--); font-weight: var(--fw5--);}
.hd_sub_inner .hd_sub_smenu .on {color:var(--purple01--)}
/* End cs_headerSub */


/* footer */
#footer {display:flex; justify-content: center; align-items: center; height:48rem; background-color: var(--black01--); color:var(--grayblue01--); font-size:var(--fs14--); font-weight:var(--fw4--); padding-left:var(--sdPadding--); padding-right:var(--sdPadding--); }
/* End footer */


/**/
.w_inner {width:100%; max-width: 1400rem; margin-left:auto; margin-right:auto;}
/**/


/* main */
#cs_main {display:flex; min-height: calc(100% - 128rem); }
#cs_main.admin_main_wrap {}
#cs_main.booth_main_wrap {background-color: var(--gray01--);}
/* End main */


/* aside */
#cs_aside {width:260rem; line-height: 1; background-color:var(--black02--); color:var(--white01--); font-size: var(--fs14--); padding:calc(var(--sdPadding--)/2) calc(var(--sdPadding--)/2) calc(var(--sdPadding--)/2) var(--sdPadding--); }

#cs_aside.booth_aside_wrap {background-color:var(--gray01--); color:var(--black01--)}
#cs_aside.booth_aside_wrap .as_m_dept01_btn {color:var(--black01--)}
#cs_aside.booth_aside_wrap .u_ch_name {background-color: var(--white01--); border-color:var(--gray05--);}
#cs_aside.booth_aside_wrap .u_ch_name .na { color:var(--black01--)}
#cs_aside.booth_aside_wrap .u_ch_name path {fill:var(--black01--)}
#cs_aside.booth_aside_wrap .as_menu_title {color:var(--black01--)}
#cs_aside.booth_aside_wrap .as_m_dept02 {color:var(--grayblue01--)}
#cs_aside.booth_aside_wrap .as_m_dept01::before,
#cs_aside.booth_aside_wrap .as_m_dept02_btn a::before {background-color: var(--gray05--);}

    .as_event_wrap {}
        .as_u_name {font-weight: var(--fw5--); font-size:var(--fs16--); margin-bottom:20rem;}

        .as_u_channel {position:relative; }
        .u_ch_name {padding:0 12rem; display: flex; align-items: center; position:relative; height:36rem; border-radius:var(--br4--); background:var(--black01--); border:1px solid var(--grayblue02--); cursor: pointer;}
        .u_ch_name .na {color:var(--gray01--); }
        .u_ch_name .arr {margin-left: auto;}
        .u_ch_name .arr svg{transition: all 0.3s ease; transform: rotate(0deg); width:16rem; height:auto;}

        .u_ch_list {display:none; position:absolute; width:100%; font-weight: var(--fw5--);  background-color: var(--white01--); color:var(--black01--); }
        .u_ch_list li {border-top:1px solid var(--grayblue01--);}
        .u_ch_list li:first-child {border-top:0;}
        .u_ch_list a {display: flex; padding:11rem 12rem;}
        .u_ch_list li.on a {background-color: var(--gray04--); }
        .u_ch_list li:hover a {background-color: var(--gray04--);}

        .u_ch_name.on .arr svg{transition: all 0.3s ease; transform: rotate(180deg); }

        .as_u_channel_link {margin-top:8rem; padding-left:4px;}
        .as_u_channel_link a {display: flex; align-items: center; color:var(--grayblue01--); font-size: var(--fs12--); gap:3px;}
        .as_u_channel_link svg {width:16rem; height:auto;}


    .as_menu_wrap {margin-top:38rem;}
        .as_menu_box {}
            .as_menu_title {color:var(--gray03--);font-weight:var(--fw5--);margin: 32rem 0 0rem;font-weight:var(--fw7--);height: 32rem;display: flex;align-items: center;}
            .as_menu_title:first-child {margin-top:0;}

            .as_m_dept01 {display: flex; align-items:center; height:32rem; position: relative; z-index: 1;}
            .as_m_dept01::before{content:""; background-color:rgba(0,0,0,0.2); position:absolute; top:0;left:-40rem; width:calc(100% + 60rem); height:100%; opacity:0; transition:all 0.3s ease; z-index:-1; }
            .as_m_dept01:hover::before  {opacity:1; transition:all 0.3s ease;}
            .as_m_dept01:hover svg path {fill:#FFF;}
                
                .as_m_dept01_btn {display:flex; color:var(--gray01--); width:100%; cursor: pointer; position: relative;}
                .as_m_dept01_btn .m_text {display: flex; align-items: center; gap:12rem; }
                .as_m_dept01_btn .m_arr {margin-left:auto;}
                .as_m_dept01_btn .m_arr svg{width:16rem; height:auto;transition: all 0.3s ease; transform: rotate(0deg);}

            .as_m_dept01.on .m_arr svg{ transition: all 0.3s ease; transform: rotate(180deg); }
            

            .as_m_dept02 {display: flex; flex-direction: column; line-height: 1; margin:0 0 8rem; color:var(--gray02--); font-size:var(--fs13--); display:none; position: relative;}
            .as_m_dept02.on {display: flex;}
                .as_m_dept02_btn a {position: relative; z-index: 1; display: flex; padding:8rem 0 8rem 28rem; position: relative; }
                .as_m_dept02_btn a::before{content:""; background-color:rgba(0,0,0,0.2); position:absolute; top:0;left:-40rem; width:calc(100% + 60rem); height:100%; opacity:0; transition:all 0.3s ease; z-index:-1; }
                .as_m_dept02_btn:hover a::before {opacity:1; transition:all 0.3s ease;}
                .as_m_dept02_btn.on {text-decoration: underline;}

        .as_menu_wrap .menu_on.as_m_dept01::before,
        .as_menu_wrap .menu_on.as_m_dept02_btn a::before  {opacity:1; transition:all 0.3s ease;}    
/*기본*/
#cs_section {width:100%; }
    /* 좌측패널 있을 경우*/
    #cs_section.cs_aside_section_wrap {width:calc(100% - 260rem);}
    /* 와이드한 경우*/
    #cs_section.cs_wide_section_wrap {width:100%;}

/* section */
.section_inner {width:100%; max-width: 1200rem; margin-left:auto; margin-right:auto; }
/*부스마이페이지*/
.section_inner .mp--body {padding-left:0; width:100%}
.section_inner .public--innerWrap {padding-top:0;}

#sec_cs_header {height:50rem; border-bottom:1px solid var(--gray05--); display: flex; align-items: center;}
.sec_hd_box {display: flex;}
    .sec_hd_location {display: flex; align-items: center; color:var(--grayblue01--); font-size: var(--fs12--);}
    .sec_hd_location .t:last-child {color:var(--black01--);}

    .sec_hd_link {margin-left:auto;}


/* section > article */
#cs_article_wrap {padding:52rem 0;}
.cs_article {padding-top:36rem; border-top:1px solid var(--gray02--); margin-top:36rem;}
.cs_article:first-child {padding:0; border:0; margin-top:0;}
@media all and (max-width:1440px) {
    #cs_article_wrap{padding: 52rem 0rem;
        padding-left: var(--sdPadding--);
        padding-right: var(--sdPadding--);
    }
}

/* section > article > article Header */
.cs_article_header {margin-bottom:30rem; display:flex;}
    .art_hd_inner {display: flex; flex-direction:column; gap:10rem;}
        .art_hd_tit {}
        .art_hd_tit .tit {font-size:var(--fs20--); color:var(--black01--); font-weight:var(--fw6--);}
        .art_hd_con {}
        .art_hd_con .con {font-size:var(--fs14--); color:var(--grayblue01--); font-weight:var(--fw4--);} 
/* section > article > article Information */
.adm_article_information {display:flex; margin-bottom:32rem; padding:20rem; border-radius:var(--br4--); background-color: var(--gray01--);}
    .art_info_inner {display: flex; flex-direction:column; gap:10rem;}
        .art_info_tit {}
        .art_info_tit .tit {font-size:var(--fs16--); color:var(--black01--); font-weight:var(--fw5--);}
        .art_info_con {}
        .art_info_con .con {font-size:var(--fs14--);  color:var(--grayblue01--); font-weight:var(--fw5--); line-height: 1.6;}
    .art_info_btns {display: flex; align-items: center; gap:10rem; margin-left:auto;}
/* section > article > article Contents */
.cs_article_contents {}

.cs_article_title {border-bottom:1px solid var(--grayblue01--);padding-bottom:16rem;padding-top: 16rem;margin-bottom:8rem; display:flex; align-items:center;}
    .cs_article_title.brbt {border-bottom:0; margin-bottom: 0;}
    .cs_article_title_left {display:flex; flex-direction: column; gap:8rem;}
    .cs_article_title .tit {font-size:var(--fs16--); font-weight: var(--fw6--);}
    .cs_article_title .con {font-size:var(--fs14--); font-weight: var(--fw5--); color:var(--grayblue01--)}
    .cs_article_title_right {margin-left:auto; display:flex; flex-direction: column; gap:8rem;}

    .art_con_top {margin-top:-10rem; margin-bottom:12rem; display:flex;}
        .art_con_top_left {display:flex; gap:10rem;}
        .art_con_top_right {display:flex; margin-left:auto; gap:10rem;}

.art_tab_wrap {width:100%; margin-top:32rem; border-bottom:1px solid var(--gray02--);padding-bottom:16rem;padding-top: 16rem;margin-bottom:16rem; display:flex; font-size:var(--fs16--); font-weight: var(--fw6--); gap:30rem; color:var(--grayblue01--);}
.art_tab_wrap a {display:inline-block; position:relative; font-size: 16rem;}
.art_tab_wrap a:hover {color:var(--black01--)}
.art_tab_wrap a.on {font-weight:var(--fw7--); color:var(--black01--)}
.art_tab_wrap a.on::before {content:""; width:100%; height:2px; background-color: var(--black01--); position:absolute; bottom:-17rem; left:0;}

.booth_main_wrap .cs_article_contents {margin-top:47rem; padding:20rem; border:1px solid var(--gray05--); border-radius: var(--br12--); background-color: var(--white01--);}
.booth_main_wrap .cs_article_contents .cs_article_title:first-child {padding-top:16rem;}
.booth_main_wrap .cs_article_contents .cs_article_title {padding-top:64rem;}

/**/
.art_result_btns { display: flex; align-items: center; justify-content: center; gap: 10rem; margin-top: 40rem;}
.art_result_btns a {height:40rem; min-width:160rem;}
/**/


/**/
.cate_box {}
.cate_bx_con {display:flex; }
.cate_bx_con.con_btn .txt {display:flex; gap:5rem;}

/* Wide*/
#cs_main.wide #cs_section {width:100%;}
#cs_main.wide #cs_section .section_inner {max-width:calc(100% - 480em);}
#cs_main.wide #cs_article_wrap {padding:52rem var(--sdPadding--)}

#cs_main.wide .cs_article_contents {}
    .adm_article_left {width:260rem; float:left;}
        .adm_wide_aside {border:1px solid var(--gray05--); font-size:var(--fs14--); color:var(--black01--);}
            .wide_as_btn a {border-bottom:1px solid var(--gray05--); padding:0 20rem; height:40rem; display: flex; gap:5rem; align-items: center;}
            .wide_as_btn.pp a {color:var(--purple01--)}
            .wide_as_btn.pp path {fill:var(--purple01--)}

            .wide_as_list {}
            .wide_as_list li {display: flex; align-items: center;  padding:12rem 20rem;}
            .wide_as_list li:hover {background-color: var(--gray01--);}
            .wide_as_list li.on {background-color: var(--purple01--); color:var(--white01--)}
            .wide_as_list li a {display: inline-flex; gap:5rem; align-items: center;}
            .wide_as_list li span.cate_total{ font-size: var(--fs12--); display: block; line-height: 1; color: var(--gray02--);}
            .wide_as_list li.dept02 {padding:12rem 20rem 12rem 40rem;}
            .wide_as_list li.dept03 {padding:12rem 20rem 12rem 60rem;}

            .wide_as_list li:not(.none).dept01::before,
            .wide_as_list li:not(.none).dept02::before {content:""; display:inline-flex; width:19rem; height:19rem; background:url(../img/icon_arrow_st02.svg) no-repeat center center}

    .adm_article_right {margin-left:auto; width:calc(100% - 300rem);}

#cs_main.wide .art_con_top {margin-top:0;}







/* 부스 - 타입에 따른 선택 - 02_s01 */
#boothType {}
.booth_type {position:relative;}

.booth_type_img .type_img {display:none;width: 100%;}
.booth_type_img img {width:100%;display: block;}

.booth_s01_c1 .s01_c1,
.booth_s02_c1 .s02_c1,
.booth_s02_c2 .s02_c2,
.booth_s02_c3 .s02_c3,
.booth_m01_c1 .m01_c1,
.booth_m01_c2 .m01_c2,
.booth_m02_c1 .m02_c1,
.booth_m02_c2 .m02_c2,
.booth_m02_c3 .m02_c3,
.booth_m02_c4 .m02_c4,
.booth_b01_c1 .b01_c1,
.booth_b01_c2 .b01_c2 {display:block;}

.booth_type_btns {position:absolute; top:0; left:0; width:100%; height:100%; z-index:9; font-size:var(--fs14--); color:var(--white01--); font-weight:var(--fw6--); line-height: 1;}
.booth_type_btns .btn {cursor:pointer; background:rgb(18 22 25 / 80%);  border:2px solid var(--black01--); position:absolute; display:flex; align-items: center; justify-content: center; transition: all 0.3s ease;}
.booth_type_btns .btn:hover {background:rgb(18 22 25 / 90%);  border:2px solid var(--purple01--); transition: all 0.3s ease;}
.booth_type_btns .btn_tit {position:relative; display:flex; flex-direction:column; align-items: center; gap:10rem;}
.booth_type_btns .btn_tit .img {width:36rem; height:36rem; border:2px solid var(--black01--); background-color:rgba(33,39,42,0.6); border-radius: 50px; display: flex; align-items: center; justify-content: center; }

.booth_type_btns .active .btn_tit .img {border-color:var(--purple01--); background-color: rgba(138,63,252,0.6);}
.booth_type_btns .btn.active{border-color:var(--purple01--);}


.booth_type:not(.booth_s01, .booth_s02, .booth_m01, .booth_m02, .booth_b01) .btn {display:none;}
.booth_s01 .booth_btn_logo {top: 22%; left: 27.5%;width: 12%;height: 8.5%; }
.booth_s01 .booth_btn_logo2 {top: 75%;left: 68.6%;width: 12%;height: 5.5%;}
.booth_s01 .booth_btn_company {top: 38%;left: 30.8%;width: 8.5%;height: 19.5%;}
.booth_s01 .booth_btn_video {top: 38%;left: 44.8%;width: 19.5%;height: 19.5%;}
.booth_s01 .booth_btn_gallery {top: 32%;left: 73.8%;width: 4.5%;height: 26.5%;clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 95%);}
.booth_s01 .booth_btn_brochure {top: 58%;left: 51.9%;width: 3.2%;height: 26%;}
.booth_s01 .booth_btn_video2,
.booth_s01 .booth_btn_video3,
.booth_s01 .booth_btn_video4,
.booth_s01 .booth_btn_video5,
.booth_s01 .booth_btn_video6,
.booth_s01 .booth_btn_video7,
.booth_s01 .booth_btn_video8,
.booth_s01 .booth_btn_video9,
.booth_s01 .booth_btn_gallery2,
.booth_s01 .booth_btn_gallery3,
.booth_s01 .booth_btn_gallery4,
.booth_s01 .booth_btn_gallery5,
.booth_s01 .booth_btn_gallery6,
.booth_s01 .booth_btn_gallery7{display: none;}


.booth_s02 .booth_btn_logo {top: 10%;left: 27.6%;width: 51%;height: 21%;}
.booth_s02 .booth_btn_logo2 {top: 32.5%;left: 11.6%;width: 12.75%;height: 52.5%;}
.booth_s02 .booth_btn_company {top: 49%;left: 34.8%;width: 6.9%;height: 15.7%;}
.booth_s02 .booth_btn_video {top: 49%;left: 44.2%; width: 15.5%;height: 15.7%;}
.booth_s02 .booth_btn_gallery {top: 49%;left: 61.4%; width: 6.9%;height: 15.7%;}
.booth_s02 .booth_btn_brochure {top: 65.5%;left: 57.8%;width: 2.5%;height: 18.5%;}
.booth_s02 .booth_btn_video2,
.booth_s02 .booth_btn_video3,
.booth_s02 .booth_btn_video4,
.booth_s02 .booth_btn_video5,
.booth_s02 .booth_btn_video6,
.booth_s02 .booth_btn_video7,
.booth_s02 .booth_btn_video8,
.booth_s02 .booth_btn_video9,
.booth_s02 .booth_btn_gallery2,
.booth_s02 .booth_btn_gallery3,
.booth_s02 .booth_btn_gallery4,
.booth_s02 .booth_btn_gallery5,
.booth_s02 .booth_btn_gallery6,
.booth_s02 .booth_btn_gallery7{display: none;}

.booth_m01 .booth_btn_logo {top: 27%;left: 20.6%;width: 14%;height: 10.5%;clip-path: polygon(0% 5%, 100% 30%, 100% 100%, 0% 82%);}
.booth_m01 .booth_btn_logo2 {display: none;}
.booth_m01 .booth_btn_logo2 {top: 32.5%;left: 11.6%;width: 12.75%;height: 52.5%;}
.booth_m01 .booth_btn_company {top: 40%;left: 9.2%;width: 7.9%;height: 16.7%;}
.booth_m01 .booth_btn_video {top: 43.6%;left: 23.2%;width: 11.5%;height: 11.7%;}
.booth_m01 .booth_btn_video2 {top: 43.6%;left: 44.3%;width: 11.5%;height: 11.7%;}
.booth_m01 .booth_btn_video3 {top: 43.6%;left: 65.4%;width: 11.5%;height: 11.7%;}
.booth_m01 .booth_btn_gallery {top: 43.6%;left: 36.4%;width: 4.9%;height: 11.7%;}
.booth_m01 .booth_btn_gallery2 {top: 43.6%;left: 58.6%;width: 4.9%;height: 11.7%;}
.booth_m01 .booth_btn_gallery3 {top: 40%;left: 82.8%;width: 7.9%;height: 16.7%;}
.booth_m01 .booth_btn_brochure {top: 56.5%;left: 39.8%;width: 2.5%;height: 15.5%;}
.booth_m01 .booth_btn_video4,
.booth_m01 .booth_btn_video5,
.booth_m01 .booth_btn_video6,
.booth_m01 .booth_btn_video7,
.booth_m01 .booth_btn_video8,
.booth_m01 .booth_btn_video9{display: none;}
.booth_m01 .booth_btn_gallery4,
.booth_m01 .booth_btn_gallery5,
.booth_m01 .booth_btn_gallery6,
.booth_m01 .booth_btn_gallery7{display: none;}

.booth_m02 .booth_btn_logo {top: 20%;left: 14.6%;width: 34%;height: 9.5%;}
.booth_m02 .booth_btn_logo2 {display: none;}
.booth_m02 .booth_btn_logo2 {top: 32.5%;left: 11.6%;width: 12.75%;height: 52.5%;}
.booth_m02 .booth_btn_company {top: 54.5%;left: 47.2%;width: 5.5%;height: 11.7%;}
.booth_m02 .booth_btn_video {top: 58.6%;left: 5.6%;width: 9.5%;height: 12.7%;clip-path: polygon(0 0%, 100% 0, 100% 79%, 0 100%);}
.booth_m02 .booth_btn_video2 {top: 54.3%;left: 24.9%;width: 12.5%;height: 13.7%;}
.booth_m02 .booth_btn_video3 {top: 53.6%;left: 57.0%;width: 15.5%;height: 19.7%;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);}
.booth_m02 .booth_btn_gallery {top: 56%;right: 17.5%;width: 3.6%;height: 12%;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);}
.booth_m02 .booth_btn_gallery2 {top: 56%;right: 12.5%;width: 4.4%;height: 14%;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);}
.booth_m02 .booth_btn_gallery3 {top: 56%;right: 7%;width: 4.9%;height: 16%;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);}
.booth_m02 .booth_btn_brochure {top: 71.5%;left: 58.3%;width: 4.5%;height: 11.5%;}
.booth_m02 .booth_btn_video4,
.booth_m02 .booth_btn_video5,
.booth_m02 .booth_btn_video6,
.booth_m02 .booth_btn_video7,
.booth_m02 .booth_btn_video8,
.booth_m02 .booth_btn_video9{display: none;}
.booth_m02 .booth_btn_gallery4,
.booth_m02 .booth_btn_gallery5,
.booth_m02 .booth_btn_gallery6,
.booth_m02 .booth_btn_gallery7{display: none;}


.booth_b01 .booth_btn_logo {top: 20%;left: 14.6%;display: none;}
.booth_b01 .booth_btn_logo2 {display: none;}
.booth_b01 .booth_btn_company {top: 71.5%;left: 58.3%;}
.booth_b01 .booth_btn_brochure {top: 70.5%;left: 37.2%;}
.booth_b01 .booth_btn_video {top: 19.6%;left: 24.6%;}
.booth_b01 .booth_btn_video2 {top: 55%;left: 48%;}
.booth_b01 .booth_btn_video3 {top: 57%;left: 55.0%;}
.booth_b01 .booth_btn_video4 {top: 37%;left: 62.0%;}
.booth_b01 .booth_btn_video5 {top: 37%;left: 68.0%;}
.booth_b01 .booth_btn_video6 {top: 25%;left: 68.0%;}
.booth_b01 .booth_btn_video7 {top: 25%;left: 62.0%;}
.booth_b01 .booth_btn_video8 {top: 45%;left: 55.0%;}
.booth_b01 .booth_btn_video9 {top: 43%;left: 48%;}

.booth_b01 .booth_btn_gallery {top: 15%;right: 55.5%;}
.booth_b01 .booth_btn_gallery2 {top: 15%;right: 43.5%;}
.booth_b01 .booth_btn_gallery3 {top: 15%;right: 34%;}
.booth_b01 .booth_btn_gallery4 {top: 15%;right: 21%;}
.booth_b01 .booth_btn_gallery5 {top: 42%;right: 21%;}
.booth_b01 .booth_btn_gallery6 {top: 72%;right: 21%;}
.booth_b01 .booth_btn_gallery7 {top: 62%;right: unset;left: 18%;}

.boothMinimap{position: absolute;bottom: 30px;left: 30px;}
.boothMinimap img{display: none;}
.booth_b01_c1 .boothMinimap img.boothMinimap--item01{display: block;}
.booth_b01_c2 .boothMinimap img.boothMinimap--item02{display: block;}
.b1Frames{display: none;}
.booth_b01 .b1Frames{display: block;position: absolute;width: 100%;height: 100%;}
.b1Frames--item{width: 100%;height: 100%;position: absolute;opacity: 0;}
.active.b1Frames--item{opacity: 1;}
.hover.b1Frames--item{opacity: 1;}
.b1Frames--item img{display: block;width: 100%;}
@media all and (max-width:1440px) {
    .boothMinimap{display: none;}
}
/* 230801 SJM 반응형 작업 */
.hd_ham{display: none;}
@media all and (max-width:1024px) {
    #cs_header .hd_right{gap: 12rem;transform: translateX(10rem);}
    .hd_home,
    .hd_user,
    .hd_menu{display: none !important;}
    .hd_ham{display: flex;align-items: center;justify-content: center;padding: 8px;gap: 3px;flex-direction: column;}
    .hd_ham span{display: block;width: 18px;height: 1px;background-color: #fff;}
}
/* mobGnb */
.mobGnb{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 999;background-color: var(--black01--);display: none;}
.mobGnb.show{display: block;}
.mobGnb--wrap{padding: 0 var(--sdPadding--);}
.mobGnb--top{width: 100%;display: flex;justify-content: space-between;align-items: center;margin-top: 16rem;}
.mobGnb--logo{font-size: 20rem;color: #fff;}
.mobGnb--close{width: 40rem;height: 40rem;position: relative;cursor: pointer;transform: translateX(30%);}
.mobGnb--close span{display: block;position: absolute;top: 50%;left: 50%;width: 50%;height: 1px;background-color: #fff;}
.mobGnb--close span:nth-child(1){transform: translate(-50%,-50%) rotate(45deg);}
.mobGnb--close span:nth-child(2){transform: translate(-50%,-50%) rotate(-45deg);}
.mobGnb--home{margin-top: 30rem;}
.mobGnb--home a{width: 100%;height: 50rem;font-size: 15rem;}
.mobGnb--home a .t{transform: translateY(0%);}
.mobGnb--menu{margin-top: 50rem;color: #fff;font-size: 16rem;display: flex;flex-direction: column;gap: 35rem;}

.mobGnb--menu-lv1{font-weight: 600;display: flex;justify-content: space-between;}
.mobGnb--menu-lv1.on{color: var(--purple01--);}
.mobGnb--menu-lv1 .arrow{display: block;width: 20rem;height: 20rem;position: relative;cursor: pointer;}
.mobGnb--menu-lv1 .arrow:after{border: solid #fff;border-width: 0px 1px 1px 0px;content: '';display: block;width: 50%;left:50%;height: 50%;position: absolute;transform:translate(-50%,0%) rotate(45deg);}
.mobGnb--menu-lv2{font-weight: 400;display: none;flex-direction: column;gap: 24rem;padding-left: 30rem;margin-top: 20rem;}
.open .mobGnb--menu-lv1 .arrow:after{transform: translate(-50%,50%) rotate(-135deg);}
.open .mobGnb--menu-lv2{display: flex;}
.mobGnb--menu-btn{display: flex;align-items: center;width: 100%;margin-top: 10rem;}
.mobGnb--menu-btn a{height: 50rem;font-size: 16rem;display: flex;align-items: center;justify-content: center;border-radius: 4px;padding: 0 22rem;background: var(--1, linear-gradient(135deg, #8A1AF5 0%, #7515F6 39.91%, #5003DC 100%));}
.mobGnb--menu-lv2 > div.on{color: var(--purple01--);}
@media all and (max-width:769px) {
    .mobGnb--top{margin-top: 10rem;}
}
/* mobAside */
#mobAside {width:260rem; line-height: 1; color:var(--white01--); font-size: var(--fs14--);z-index: 999;display: none;}
#mobAside.show{display: block;}
.mobAside--dim{position: absolute;width: 100%;height: 100%;background-color:var(--black01--);opacity: 0.7;}
#mobAside {position: fixed;top: 0;right: 0;height: 100%;width: 100%;padding: 0;}
.mobAside--cont{width: 100%;max-width:260rem;padding:calc(var(--sdPadding--)/2) calc(var(--sdPadding--)/2) calc(var(--sdPadding--)/2) var(--sdPadding--); width: 100%;height: 100%;margin-left: auto;background-color:var(--gray01--); position: relative;overflow: hidden;}
#mobAside.booth_aside_wrap {color:var(--black01--)}
#mobAside.booth_aside_wrap .as_m_dept01_btn {color:var(--black01--)}
#mobAside.booth_aside_wrap .u_ch_name {background-color: var(--white01--); border-color:var(--gray05--);}
#mobAside.booth_aside_wrap .u_ch_name .na { color:var(--black01--)}
#mobAside.booth_aside_wrap .u_ch_name path {fill:var(--black01--)}
#mobAside.booth_aside_wrap .as_menu_title {color:var(--black01--)}
#mobAside.booth_aside_wrap .as_m_dept02 {color:var(--grayblue01--)}
#mobAside.booth_aside_wrap .as_m_dept01::before,
#mobAside.booth_aside_wrap .as_m_dept02_btn a::before {background-color: var(--gray05--);left: calc(0rem - var(--sdPadding--));}
.art_hd_inner{width: 100%;}
.art_hd_tit{display: flex;justify-content: space-between;}
.mobAsideOpen{height: 30rem;border: 1px solid var(--black01--);border-radius: var(--br4--);display: none;align-items: center;justify-content: center;font-size: 16rem;padding: 0 10rem;cursor: pointer;}
.mobAside--top{display: flex;justify-content: space-between;font-size: 16rem;margin-bottom: 16rem;padding-top: 14rem;align-items: center;font-weight: 700;}
.mobAside--close{width: 25rem;height: 25rem;cursor: pointer;position: relative;}
.mobAside--close span{width: 80%;height: 1px;background-color: var(--black01--);display: block;position: absolute;top: 50%;left: 50%;}
.mobAside--close span:nth-child(1){transform: translate(-50%,-50%) rotate(45deg);}
.mobAside--close span:nth-child(2){transform: translate(-50%,-50%) rotate(-45deg);}
@media all and (max-width:1024px) {
    .mobAsideOpen{display: flex;}
    #cs_aside.booth_aside_wrap{display: none;}
    #cs_section.cs_aside_section_wrap{width: 100%;}
}
@media all and (max-width:769px) {
    .mobAside--cont{max-width: 340rem;}
    .mobAside--top{padding-top: 0;}
    .form_file_readonly > div{width:calc(100%/3 - 20rem/3);height: unset;padding-top: 20.25%;}
}
@media all and (max-width:480px) {
    .mobAside--cont{padding: 16px;}
    .adm_article_information{flex-direction: column;gap: 10rem;}
    
    .form_group{flex-direction: column;}
    .as_menu_wrap{margin-top: 30px;}
    .upload_st01{font-size: 12px;white-space: nowrap;padding: 0 10rem;}
    .as_menu_title{font-size: 14px;}
    .link_na{font-size: 12px;}
    .as_u_channel_link svg{width: 12px;}
    .mobAside--top{font-size: 14px;margin-bottom: 16px;}
    #mobAside.booth_aside_wrap .u_ch_name .na,
    .u_ch_list{font-size: 12px;}
    .u_ch_list li a{display: flex;align-items: center;}
    .u_ch_list li a,
    .u_ch_list li,
    .u_ch_name{height: 36px;}
    .as_m_dept01{height: 36px;font-size: 12px;}
    .form-control{height: 36px;width: 100%;font-size: 12px;}
    .form_content{width: 100%;}
    .form_content li{width: 100%;}
    .col-11{max-width: 100%;}
    .col-4{max-width: 100%;}
    .form_content_logo{width: 100%;}
    .form_content_logo img{max-height: 60rem;object-fit: contain;width: 100%;}
    .form_label{width: 100%;}
    .form_lable{font-size: 12px;width: 100%;display: block;}
    textarea.form-control:read-only{font-size: 12px;padding: 10px;}
}
