@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-Thin.eot");
  src: url("../font/HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg"), url("../font/HelveticaNeue-Thin.otf") format("opentype"), url("../font/HelveticaNeue-Thin.woff") format("woff"), url("../font/HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-UltraLight.eot");
  src: url("../font/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight") format("svg"), url("../font/HelveticaNeue-UltraLight.otf") format("opentype"), url("../font/HelveticaNeue-UltraLight.woff") format("woff"), url("../font/HelveticaNeue-UltraLight.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-Light.eot");
  src: url("../font/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"), url("../font/HelveticaNeue-Light.otf") format("opentype"), url("../font/HelveticaNeue-Light.woff") format("woff"), url("../font/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("HelveticaNeue.eot");
  src: url("HelveticaNeue.svg#HelveticaNeue") format("svg"), url("../font/HelveticaNeue.otf") format("opentype"), url("HelveticaNeue.woff") format("woff"), url("HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-Medium.eot");
  src: url("../font/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("../font/HelveticaNeue-Medium.otf") format("opentype"), url("../font/HelveticaNeue-Medium.woff") format("woff"), url("../font/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-Bold.eot");
  src: url("../font/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg"), url("../font/HelveticaNeue-Bold.otf") format("opentype"), url("../font/HelveticaNeue-Bold.woff") format("woff"), url("../font/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoH00.woff");
  src: url("../font/AppleSDGothicNeoH00#AppleSDGothicNeoH00") format("svg"), url("../font/AppleSDGothicNeoH00.otf") format("opentype"), url("../font/AppleSDGothicNeoH00.woff") format("woff"), url("../font/AppleSDGothicNeoH00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoH00.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoEB00.woff");
  src: url("../font/AppleSDGothicNeoEB00#AppleSDGothicNeoEB00") format("svg"), url("../font/AppleSDGothicNeoEB00.otf") format("opentype"), url("../font/AppleSDGothicNeoEB00.woff") format("woff"), url("../font/AppleSDGothicNeoEB00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoEB00.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoB00.woff");
  src: url("../font/AppleSDGothicNeoB00#AppleSDGothicNeoB00") format("svg"), url("../font/AppleSDGothicNeoB00.otf") format("opentype"), url("../font/AppleSDGothicNeoB00.woff") format("woff"), url("../font/AppleSDGothicNeoB00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoB00.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoSB00.woff");
  src: url("../font/AppleSDGothicNeoSB00#AppleSDGothicNeoSB00") format("svg"), url("../font/AppleSDGothicNeoSB00.otf") format("opentype"), url("../font/AppleSDGothicNeoSB00.woff") format("woff"), url("../font/AppleSDGothicNeoSB00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoSB00.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoM00.woff");
  src: url("../font/AppleSDGothicNeoM00#AppleSDGothicNeoR00") format("svg"), url("../font/AppleSDGothicNeoM00.otf") format("opentype"), url("../font/AppleSDGothicNeoM00.woff") format("woff"), url("../font/AppleSDGothicNeoM00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoR00.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoR00.woff");
  src: url("../font/AppleSDGothicNeoM00#AppleSDGothicNeoL00") format("svg"), url("../font/AppleSDGothicNeoR00.otf") format("opentype"), url("../font/AppleSDGothicNeoR00.woff") format("woff"), url("../font/AppleSDGothicNeoR00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoR00.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoL00.woff");
  src: url("../font/AppleSDGothicNeoL00#AppleSDGothicNeoL00") format("svg"), url("../font/AppleSDGothicNeoL00.otf") format("opentype"), url("../font/AppleSDGothicNeoL00.woff") format("woff"), url("../font/AppleSDGothicNeoL00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoL00.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoUL00.woff");
  src: url("../font/AppleSDGothicNeoUL00#AppleSDGothicNeoUL00") format("svg"), url("../font/AppleSDGothicNeoUL00.otf") format("opentype"), url("../font/AppleSDGothicNeoUL00.woff") format("woff"), url("../font/AppleSDGothicNeoUL00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoUL00.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSD';
  src: url("../font/AppleSDGothicNeoT00.woff");
  src: url("../font/AppleSDGothicNeoT00#AppleSDGothicNeoT00") format("svg"), url("../font/AppleSDGothicNeoT00.otf") format("opentype"), url("../font/AppleSDGothicNeoT00.woff") format("woff"), url("../font/AppleSDGothicNeoT00.eot?#iefix") format("embedded-opentype"), url("../font/AppleSDGothicNeoT00.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aurora";
  src: url("../font/AURORA-PRO.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CompactDisplay";
  src: url("../font/SF-Compact-Display-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
/* @@@@@@@@ */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("../font/Pretendard-Black.woff2") format("woff2"), url("../font/Pretendard-Black.woff") format("woff"), url("../font/Pretendard-Black.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("../font/Pretendard-ExtraBold.woff2") format("woff2"), url("../font/Pretendard-ExtraBold.woff") format("woff"), url("../font/Pretendard-ExtraBold.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../font/Pretendard-Bold.woff2") format("woff2"), url("../font/Pretendard-Bold.woff") format("woff"), url("../font/Pretendard-Bold.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../font/Pretendard-SemiBold.woff2") format("woff2"), url("../font/Pretendard-SemiBold.woff") format("woff"), url("../font/Pretendard-SemiBold.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../font/Pretendard-Medium.woff2") format("woff2"), url("../font/Pretendard-Medium.woff") format("woff"), url("../font/Pretendard-Medium.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../font/Pretendard-Regular.woff2") format("woff2"), url("../font/Pretendard-Regular.woff") format("woff"), url("../font/Pretendard-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("../font/Pretendard-Light.woff2") format("woff2"), url("../font/Pretendard-Light.woff") format("woff"), url("../font/Pretendard-Light.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("../font/Pretendard-ExtraLight.woff2") format("woff2"), url("../font/Pretendard-ExtraLight.woff") format("woff"), url("../font/Pretendard-ExtraLight.otf") format("otf");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("../font/Pretendard-Thin.woff2") format("woff2"), url("../font/Pretendard-Thin.woff") format("woff"), url("../font/Pretendard-Thin.otf") format("otf");
}